In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [3]:
data = pd.read_csv('original.csv')
data.describe()

,00994,1620,1620.1,19.73,19.73.1,1,10.00,0.99,1603.80,5,92,0
count,14083.000000,14083.000000,14083.000000,14083.000000,14083.000000,14083.000000,14083.000000,14083.000000,14083.000000,14083.000000,14083.000000,14083.000000
mean,16773.611943,1591.279646,1678.612796,7.102894,7.542940,0.160690,8.909717,0.125598,189.788585,0.069871,61.932898,0.158844
std,9691.239210,504.358512,654.861664,4.930700,5.559378,0.367258,0.643363,0.241104,370.905846,0.470342,88.210402,0.365544
min,2.000000,216.000000,216.000000,3.860000,3.860000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8371.500000,1188.000000,1188.000000,5.330000,5.330000,0.000000,8.910000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,16715.000000,1620.000000,1620.000000,5.950000,6.070000,0.000000,8.910000,0.000000,0.000000,0.000000,11.000000,0.000000
75%,25187.500000,2160.000000,2160.000000,8.000000,8.000000,0.000000,8.910000,0.130000,194.400000,0.000000,105.000000,0.000000
max,33683.000000,2160.000000,7020.000000,130.940000,130.940000,1.000000,10.000000,1.000000,2160.000000,30.000000,464.000000,1.000000

In [6]:
data.shape

(14083, 12)